@media screen and (max-width: 1024px) {
	body {
		font-size: 12px;
	}

	header {
		margin: 28px 0 40px;

		.header-logo {
			margin-left: auto;
			img {
				width: 70px;
			}
		}

		.header-nav {
			display: flex !important;
			flex-direction: column;
			position: fixed;
			top: 0;
			right: -100%;
			width: 100%;
			background-color: $color-black;
			gap: 24px;
			padding: 54px 40px 40px;
			z-index: 15;
			transition: right 0.5s ease-in-out;
			grid-template-columns: none;

			&::before {
			display: none;
			}

			&.show {
			right: 0;
			display: flex;
			visibility: visible;
			opacity: 1;
			}

			&__link {
			color: $body-bg;
			font-size: 14px;

				&:hover {
					color: $red-accent;
				}

				span::after {
					display: none;
				}
			}
		}
	}

	h2 {
		font-size: 30px;
		text-align: center;
	}

	h3 {
		font-size: 26px;
		text-align: center;
		line-height: 41.5px !important;
	}

	h4 {
		font-style: 22px;
	}

	h5 {
		font-style: 20px;
	}

	.container {
		max-width: 330px;
		margin: 0 auto;
	}

	.custom-button {
		font-size: 10px;
		padding: 10px 16px;
		border-radius: 4px;
	}

	.btn-burger {
		width: 30px;
		height: 20px;
		display: block;
		z-index: 100;

		&.active {
			span {
				width: 30px;
				height: 24px;
			}
		}
	}

	.content-block {
		p {
			font-size: 12px;
			line-height: 23px;
			text-align: center;
		}
	}

	.banner {
		margin-bottom: 40px;

		.container {
			&::before,
			&::after {
				content: none;
			}
		}

		.tabs {
			max-width: 450px;
			margin: 0 auto;

			&__nav {
				margin-bottom: 130px;
				gap: 16px;
				justify-content: center;
			}

			&__button {
				font-size: 12px;
			}

			&__content {
				margin-bottom: 30px;

				h2 {
					line-height: 41.5px;
					margin-bottom: 14px;
					text-align: center;
				}

				p {
					line-height: 23px;
					text-align: center;
				}
			}

			&__buttons {
				gap: 18px;
				justify-content: center;
			}
		}

		&__img {
			position: absolute;
			top: 34px;
			left: 50%;
			transform: translate(-50%, 0);

			&::before {
				content: none;
			}

			img {
				width: 126px;
				height: 108px;
			}
		}
	}

	.why-us {
		margin-bottom: 40px;

		&__top {
			gap: 28px;
			margin-bottom: 40px;
			flex-direction: column;
			align-items: center;
		}

		&__images {
			max-width: 300px;
			align-items: center;
		}

		&__image {
			img {
				width: 116px;
			}
		}

		&__bottom {
			flex-wrap: wrap;
			gap: 6px;
		}

		&__card {
			max-width: 180px;
		}
	}

	.pricing {
		margin-bottom: 40px;
		h3 {
			margin: 0 auto 14px;
			font-size: 26px;
			line-height: 36px;
		}

		h5 {
			font-size: 20px;
			margin-bottom: 24px;
		}

		&__toggle-slider {
			width: 66px;
			height: 33px;

			&:before {
				left: 10px;
				width: 22px;
				height: 22px;
				transform: translate(0px, -50%);
			}
		}

		&__toggle {
			margin-bottom: 24px;
			gap: 16px;

			&-monthly,
			&-yearly {
			font-size: 22px;
			}

			&-switch {
				input {
					&:checked + .pricing__toggle-slider {
						&:before {
							transform: translate(26px, -11px);
						}
					}
				}
			}
		}

		&__toggle-discount {
			font-size: 8px;
		}

		.tabs__nav {
			margin-bottom: 24px;
			.tabs__button {
				font-size: 24px;
			}
		}

		.tabs__content {
			overflow-x: auto;

			&-card {
				min-width: 304px;
			}
		}
	}

	.testimonials {
		margin-bottom: 40px;

		&__grid {
			display: none;
		}

		.carousel {
			display: block !important;
		}

		&__logos {
			flex-direction: column;
		}

		&__logo-images {
			gap: 0;
			justify-content: space-between;
		}
	}

	.cta {
		margin-bottom: 40px;
		h2 {
			min-width: 304px;
			margin-bottom: 24px;

			&:before {
				width: 30px;
				height: 30px;
				top: 130px;
        		left: -22px;
			}
		}

		a {
			.icon-svg {
				width: 16px;
				height: 16px;
				margin-right: 6px;
			}
		}

		.container {
			padding: 60px 90px 60px 90px;

			&:before {
				top: 214px;
        		right: -10px;
				width: 52px;
        		height: 52px;
			}

			&:after {
				width: 30px;
				height: 30px;
				top: -10px;
        		right: 194px;
			}
		}

		.custom-button {
			padding: 8px 9px;
		}
	}

	footer {
		padding: 34px 0;

		.footer__top {
			flex-direction: column;
			gap: 0;
			margin-bottom: 0;
		}

		.footer__brand {
			margin-bottom: 20px;
		}

		.footer__logo {
			float: left;
			margin-right: 12px;
			margin-bottom: 0;
			width: 70px;
    		height: 62px;
		}

		.footer__desk {
			p {
				font-size: 12px;
			}
		}

		.footer__nav {
			max-width: 284px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			column-gap: 0;
		}

		.footer__column {
			align-items: start;
			display: flex;
			flex-direction: column;
			margin-bottom: 20px;

			&:last-child {
				margin-right: 34px;
			}
		}

		.footer_bottom {
			text-align: center;
		}
	}
}
