.banner {
	margin-bottom: 80px;
	.container {
		display: flex;
		gap: 54px;
		position: relative;

		&::before {
			@include decoration-big-triangle;
		}

		&::after {
			@include decoration-small-triangle;
		}
	}

	.tabs {
		max-width: $banner-tabs-max-width;

		&__nav {
			margin-bottom: 26px;
    		display: flex;
    		gap: 24px;
    		position: relative;

			&:before {
				content: "";
				position: absolute;
				background-color: $gray-lighter;
				bottom: 0;
				width: 262px;
				height: 1px;
				z-index: -1;
			}
		}

		&__button {
			font-family: $font-primary;
			font-size: 15px;
			color: $gray-light;
			font-weight: 600;
			border: none;
			background-color: transparent;
			cursor: pointer;

			&.active {
				color: $red-accent;
				border-bottom: 2px solid;
			}
		}

		&__content {
			margin-bottom: 60px;
			display: none;

			&.active {
				display: block;
			}

			h2 {
				line-height: 77.5px;
    			margin-bottom: 24px;
			}

			p {
				color: $gray-dark;
				line-height: 28px;
				max-width: $banner-tabs-content-p-max-width;
			}
		}

		&__buttons {
			gap: 24px;
			display: flex;
		}
	}

	&__img {
		position: relative;

		&::before {
			@include decoration-small-triangle;
			top: 303px;
    		left: -26px;
    		transform: rotate(90deg);
		}
	}
}
