* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-primary, $font-mono;
	font-size: $font-size;
	color: $color-black;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
	background-color: $body-bg;
}

h2 {
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: $color-black;
}

.container {
	width: 100%;
	max-width: 1138px + 24px;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: auto;
	margin-right: auto;
}

.d-none {
	display: none;
}

.custom-button {
    font-size: $btn-font-size;
    padding: 12px 18px;
    border: 1px solid $color-black;
    border-radius: 8px;
	transition: 0.3s;

	&:hover {
		@include red-accent-button;
	}

	&_red {
		@include red-accent-button;
		transition: 0.3s;

		&:hover {
			background-color: transparent;
			color: $color-black;
			border: 1px solid $color-black;
		}
	}
}
