* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-primary, $font-mono;
	font-size: $font-size;
	color: $color-black;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
	background-color: $body-bg;
}

h2 {
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: $color-black;
}

.container {
	width: 100%;
	max-width: $container-max-width;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: auto;
	margin-right: auto;
}

.d-none {
	display: none;
}

.btn-burger {
	@include size-btn-burger;
	border: none;
	cursor: pointer;
	padding: 0;
	background-color: transparent;
	border-radius: 0;
	display: none;
	position: relative;

	span {
		height: 3px;
		width: 100%;
		display: block;
		background-color: $red-accent;

		&::before,
		&::after {
			content: "";
			position: absolute;
			height: 3px;
			width: 100%;
			background-color: $red-accent;
			top: -1px;
			left: 0;
			transition: 0.3s;
		}

		&::after {
			top: initial;
			bottom: -1px;
		}
	}

	&.active {
		span {
			background-color: transparent;
			position: fixed;
			@include size-btn-burger;

			&:before,
			&:after {
				transform: rotate(45deg) translate(8px, 8px);
				background-color: $red-accent;
			}

			&:after {
				transform: rotate(-45deg) translate(8px, -8px);
			}
		}
	}
}

.custom-button {
    font-size: $btn-font-size;
    padding: 12px 18px;
    border: 1px solid $color-black;
    border-radius: $radius-sm;
	transition: 0.3s;

	&:hover {
		@include red-accent-button;
	}

	&_red {
		@include red-accent-button;
		transition: 0.3s;

		&:hover {
			background-color: transparent;
			color: $color-black;
			border: 1px solid $color-black;
		}
	}
}

.content-block {
	max-width: $why-us-content-block-max-width;

	h3 {
		font-family: $font-secondary;
		font-weight: 800;
		line-height: 64px;
	}

	p {
		font-family: $font-secondary;
		font-size: 18px;
		line-height: 32px;
	}
}
