.testimonials {
	&__grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 32px 30px;
		align-items: start;
		padding: 56px 116px 0 160px;
    	margin-bottom: 84px;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 62px;
			width: 142px;
			height: 120px;
			background-image: url(./assets/img/capital-quotation-marks.svg);
			z-index: -1;
			filter: opacity(0.3);
		}
	}

	&__card {
		padding: 40px 32px 14px;
		max-width: $testimonials-card-max-width;
		box-shadow: 0 10px 20px 0 rgba(41, 41, 42, 0.07);

		&:nth-child(2) {
			$testimonials-card-nth-child-max-width: 408px;
			margin-top: 48px;
		}

		&:nth-child(3) {
			justify-self: end;
			margin-top: -260px;
		}

		&-logo {
			margin: 0 0 16px 28px;
		}

		&-blockquote {
			display: flex;

			.blockquote__img {
				margin-right: 16px;
			}

			.blockquote-text {
				font-family: $font-secondary;
				line-height: 32px;
				margin-bottom: 24px;
			}

			.blockquote-author {
				font-family: $font-secondary;
				font-weight: 700;
				font-size: $blockquote-author-font-size;
				line-height: 28px;
			}

			.blockquote-job {
				font-family: $font-secondary;
				font-weight: 500;
				font-size: $blockquote-job-font-size;
				color: $gray-dark;
			}
		}
	}

	&__logos {
		display: flex;
		justify-content: space-between;

		.content-block {
			max-width: $testimonials-content-block-max-width;

			h3 {
				margin-bottom: 8px;
			}
		}
	}
	&__logo-images {
		max-width: $testimonials-logo-images-max-width;
		display: flex;
		flex-wrap: wrap;
		gap: 0 65px;
		margin-top: -34px;
	}
}
