///fonts///
$font-primary: "Poppins";
$font-secondary: "Inter";
$font-mono: "Monospace";
$font-size: 16px;
$h2-font-size: 64px;
$h3-font-size: 48px;
$h4-font-size: 30px;
$h5-font-size: 20px;
$btn-font-size: 14px;
$blockquote-author-font-size: 18px;
$blockquote-job-font-size: 14px;

///colors///
$body-bg: #fff;
$red-accent: #B00000;
$yellow-accent: #FFE87A;
$color-black: #000;
$gray-light: #D6D4D4;
$gray-lighter: #e5e5e5;
$gray-dark:#808080;
$gray-cta-h2:#2E2E2E;
$cta-container-background:#F7FAFE;


///border-radius///
$radius-xs: 4px;
$radius-sm: 8px;
$radius-md: 12px;
$radius-lg: 15px;
$radius-xl: 16px;

///max-width///
$container-max-width: 1138px + 24px;
$banner-tabs-max-width: 608px;
$banner-tabs-content-p-max-width: 438px;
$why-us-content-block-max-width: 560px;
$why-us-content-block-images-max-width: 614px;
$why-us-content-block-card-max-width: 260px;
$pricing-h3-max-width: 650px;
$pricing-tabs-max-width: 856px;
$pricing-tabs-content-card-max-width: 300px;
$testimonials-card-max-width: 340px;
$testimonials-card-nth-child-max-width: 408px;
$testimonials-content-block-max-width: 445px;
$testimonials-logo-images-max-width: 490px;



@mixin size-btn-burger {
	width: 38px;
	height: 24px;
}

@mixin red-accent-button {
	background-color: $red-accent;
	border: none;
	color: $body-bg;
}

@mixin button-hover-effect {
	position: relative;
	z-index: 1;
	transition: color 0.3s ease, border-color 0.3s ease;

	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: $red-accent;
		border-radius: 10px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0);
		border: none;
		z-index: -1;
		transition: transform 0.4s ease;
	}

	&:hover:before {
		transform: translate(-50%, -50%) scale(1);
	}

	&:hover {
		color: $body-bg;
	}
}

@mixin decoration-big-triangle {
	content: "";
	position: absolute;
	top: 390px;
    right: -12px;
	width: 72px;
    height: 72px;
	background-image: url(./assets/img/triangle-big.png);
	z-index: 1;
}

@mixin decoration-small-triangle {
	content: "";
	position: absolute;
	top: 62px;
	right: -12px;
	width: 40px;
	height: 40px;
	background-image: url(./assets/img/triangle-small.png);
}
