.why-us {
    margin-bottom: 132px;

	&__top {
		display: flex;
		gap: 92px;
		margin-bottom: 118px;
	}

	&__images {
		display: flex;
		max-width: $why-us-content-block-images-max-width;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__bottom {
		display: flex;
		justify-content: space-around;
	}

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: $why-us-content-block-card-max-width;

		h5 {
			margin-bottom: 4px;
			text-align: center;
		}

		p {
			text-align: center;
		}
	}

	&__icon {
		margin-bottom: 12px;
	}
}
