<section class="banner">
	<div class="container">
		<div class="tabs">
			<nav class="tabs__nav">
				<button class="tabs__button active">Hosting</button>
				<button class="tabs__button">Domain</button>
				<button class="tabs__button">SEO</button>
				<button class="tabs__button">Email</button>
			</nav>
			<div class="tabs__content  active">
				<h2>Premium Web Hosting for Your Website</h2>
				<p>Blazing fast web hosting for individuals and businesses of all sizes backed by 24x7x365 Support.</p>
			</div>
			<div class="tabs__content">
				<h2>Find Your Perfect Domain Name</h2>
				<p>The first step to a successful online presence is a memorable domain. Search for and register your ideal domain with ease, and secure your brand's future.</p>
			</div>
			<div class="tabs__content">
				<h2>Boost Your Website's Visibility</h2>
				<p>Get found by your customers. Our SEO tools and services help you climb the search engine ranks, drive organic traffic, and grow your business without breaking the bank.</p>
			</div>
			<div class="tabs__content">
				<h2>Secure and Reliable Communication</h2>
				<p>Don't let your messages get lost. Our advanced email services ensure your communications are secure, fast, and delivered without a hitch, so you can focus on growing your business.</p>
			</div>
			<div class="tabs__buttons">
				<a href="#" class="custom-button custom-button_red">Create an Account</a>
				<a href="#" class="custom-button">Choose your plan</a>
			</div>
		</div>
		<div class="banner__img">
			<img src="./assets/img/banner.png" alt="banner">
		</div>
	</div>
</section>
