<header>
	<div class="container">
		<a href="#">
			<img src="./assets/img/logo.svg" alt="logo">
		</a>
		<nav class="header-nav">
			<a href="#" class="header-nav__link"><span>Our Services</span></a>
			<a href="#" class="header-nav__link"><span>About</span></a>
			<a href="#" class="header-nav__link"><span>Blog&News</span></a>
			<a href="#" class="header-nav__link"><span>Contact</span></a>
			<a href="#" class="header-nav__link"><span>Account</span></a>
			<a href="tel: +2349067322844" class="header-nav__link">
				<svg class="icon-svg">
					<use href="#icon-tel"></use>
				</svg>
				<span>+2349067322844</span>
			</a>
		</nav>
	</div>
</header>

