<section class="pricing">
	<div class="container">
		<h3>Ready to get started with Lemon Wares?</h3>
		<h5>Choose the package that suits you</h5>
		<div class="pricing__toggle">
			<span class="pricing__toggle-monthly">Monthly</span>
			<label class="pricing__toggle-switch">
				<input id="pricing__toggle-checkbox" type="checkbox">
				<span class="pricing__toggle-slider"></span>
			</label>
			<span
				class="pricing__toggle-yearly">Yearly
			</span>
			<span class="pricing__toggle-discount">
				20%  discount
			</span>
		</div>
		<div class="tabs">
			<nav class="tabs__nav">
				<button class="tabs__button active">Basic</button>
				<button class="tabs__button">Premium</button>
			</nav>
			<div class="tabs__content  active">
				<div class="tabs__content-card">
					<h4>Starter</h4>
					<p>with all your customers via all conversation channels in one central dashboard.</p>
					<div class="tabs__content-price"  data-monthly-price="2.80">
						$2.80
						<span>Per month</span>
					</div>
					<button>Choose this Plan</button>
					<ul>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							2GB SSD</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							10GB Bandwidth</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							15 Email Accounts</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							Unlimited Database</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							4 Subdomains</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							1 Parked Domain</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							2 Websites</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							Free SSL</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							Softaculous </li>
					</ul>
				</div>
				<div class="tabs__content-card">
					<h4>Standard</h4>
					<p>with all your customers via all conversation channels in one central dashboard.</p>
					<div class="tabs__content-price" data-monthly-price="4.20">
						$4.20
						<span>Per month</span>
					</div>
					<button>Choose this Plan</button>
					<ul>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							2GB SSD</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							10GB Bandwidth</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							15 Email Accounts</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							Unlimited Database</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							4 Subdomains</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							1 Parked Domain</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							2 Websites</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							Free SSL</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							Softaculous </li>
					</ul>
				</div>
				<div class="tabs__content-card">
					<h4>Suprem</h4>
					<p>with all your customers via all conversation channels in one central dashboard.</p>
					<div class="tabs__content-price" data-monthly-price="7.00">
						$7.00
						<span>Per month</span>
					</div>
					<button>Choose this Plan</button>
					<ul>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							2GB SSD</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							10GB Bandwidth</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							15 Email Accounts</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							Unlimited Database</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							4 Subdomains</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							1 Parked Domain</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							2 Websites</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							Free SSL</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							Softaculous </li>
					</ul>
				</div>
			</div>
			<div class="tabs__content">
				<div class="tabs__content-card">
					<h4>Supreme Pro</h4>
					<p>the ultimate plan for professionals.</p>
					<div class="tabs__content-price" data-monthly-price="99.99">
						$99.99
						<span>Per month</span>
					</div>
					<button>Choose this Plan</button>
					<ul>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							500 GB SSD Storage</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							Unlimited Bandwidth</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							Unlimited Email Accounts</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							50 Subdomains</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							1 Parked Domain</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							5 Websites</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							Free Premium SSL</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							Free Daily Backups</li>
					</ul>
				</div>
				<div class="tabs__content-card">
					<h4>Business</h4>
					<p>the ultimate plan for professionals.</p>
					<div class="tabs__content-price" data-monthly-price="199.99">
						$199.99
						<span>Per month</span>
					</div>
					<button>Choose this Plan</button>
					<ul>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							500 GB SSD Storage</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							Unlimited Bandwidth</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							Unlimited Email Accounts</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							50 Subdomains</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							1 Parked Domain</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							5 Websites</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							Free Premium SSL</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							Free Daily Backups</li>
					</ul>
				</div>
				<div class="tabs__content-card">
					<h4>Enterprise</h4>
					<p>the ultimate plan for professionals.</p>
					<div class="tabs__content-price" data-monthly-price="249.99">
						$249.99
						<span>Per month</span>
					</div>
					<button>Choose this Plan</button>
					<ul>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							500 GB SSD Storage</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							Unlimited Bandwidth</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							Unlimited Email Accounts</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							50 Subdomains</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							1 Parked Domain</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							5 Websites</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							Free Premium SSL</li>
						<li>
							<img src="./assets/img/icon-check.svg" alt="check">
							Free Daily Backups</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</section>

