<section class="testimonials">
	<div class="container">

		<div class="testimonials__grid">
			<div id="testimonials-cards"></div>
			<div class="testimonials__card">
				<div class="testimonials__card-logo">
					<img src="./assets/img/logo-JPNL.svg" alt="Logo JPNL">
				</div>
				<blockquote class="testimonials__card-blockquote">
					<div class="blockquote__img">
						<img src="./assets/img/small-quotation-marks.svg" alt="quotation marks">
					</div>
					<div class="blockquote__content">
						<p class="blockquote-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elem</p>
						<p class="blockquote-author">Jane Cooper</p>
						<p class="blockquote-job">CEO, JPNL</p>
					</div>
				</blockquote>
			</div>
			<div class="testimonials__card">
				<div class="testimonials__card-logo">
					<img src="./assets/img/logo-CLI.svg" alt="Logo CLI">
				</div>
				<blockquote class="testimonials__card-blockquote">
					<div class="blockquote__img">
						<img src="./assets/img/small-quotation-marks.svg" alt="quotation marks">
					</div>
					<div class="blockquote__content">
						<p class="blockquote-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elem</p>
						<p class="blockquote-author">Floyd Miles</p>
						<p class="blockquote-job">Vice President, CLI</p>
					</div>
				</blockquote>
			</div>
			<div class="testimonials__card">
				<div class="testimonials__card-logo">
					<img src="./assets/img/logo-LeeveOn-Branding.svg" alt="Logo LeeveOn Branding">
				</div>
				<blockquote class="testimonials__card-blockquote">
					<div class="blockquote__img">
						<img src="./assets/img/small-quotation-marks.svg" alt="quotation marks">
					</div>
					<div class="blockquote__content">
						<p class="blockquote-text">LemonWares saved our time in Hosting my company page.</p>
						<p class="blockquote-author">Kristin Watson</p>
						<p class="blockquote-job">Co-Founder, LeeveOn Branding</p>
					</div>
				</blockquote>
			</div>
		</div>

		<div class="testimonials__logos">
			<div id="testimonials-logos"></div>
			<div class="testimonials__logo-images">
				<img src="./assets/img/logo-JPNL.svg" alt="logo JPNL">
				<img src="./assets/img/logo-Korene-Scents.svg" alt="logo Korene Scents">
				<img src="./assets/img/logo-Nadine-Ghaida.svg" alt="logo Nadine Ghaida">
				<img src="./assets/img/logo-LeeveOn-Branding.svg" alt="Logo LeeveOn Branding">
				<img src="./assets/img/logo-Jrango-Glasses.svg" alt="Logo Jrango Glasses">
				<img src="./assets/img/logo-CLI.svg" alt="Logo CLI">
			</div>
		</div>
	</div>
</section>
